:root {
  --uts-color: #a2c40d;
  --uts-dark-color: #7c941e;
  --uts-link-color: #a0c10d;
}

.sidebar-uts {
  background-color: var(--uts-color);
  background-image: linear-gradient(180deg, var(--uts-color) 10%, var(--uts-dark-color) 100%);
  background-size: cover;
}

.topbar .dropdown-list .dropdown-header {
  background-color: var(--uts-color);
  border: 1px solid var(--uts-color);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
}

a {
  color: var(--uts-link-color);
}

a:hover {
  color: var(--uts-dark-color);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: var(--uts-color);
  font-weight: 700;
}

.btn-uts {
  color: #fff;
  background-color: var(--uts-color);
  border-color: var(--uts-dark-color);
}

.btn-uts:hover {
  color: #fff;
  background-color: var(--uts-dark-color);
}

.btn-uts.disabled,
.btn-uts:disabled {
  color: #fff;
  background-color: #9eaa63;
  border-color: #9eaa63;
  cursor: default;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--uts-dark-color);
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #bac8f3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(137, 182, 64, 0.25);
}

.custom-select:focus {
  border-color: #bac8f3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(137, 182, 64, 0.25);
}

.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #49ec29; }
.navbar .navbar-nav .active > .nav-link { color: #a0c10d; }

footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }

.navbar-light .navbar-nav .nav-link.active { color: #7c941e; }
