* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #c1d631;
}

/* Navbar links */
.nav-link {
   color: white;

}

/* Navbar links on mouse-over */
.nav-item .nav-link:hover {
  color: rgb(37, 148, 55);
}

/* Active/current link */
.nav-item a.active {
  background-color:  #c1d631;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background:  #a0c10d;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

  .container-fluid {
    max-height: 200px;
  }



  #centrador{
    width: 200px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.h1 {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    color: #464749;
    font-size: 50px;
    font-display: swap;

}
.h2 {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    color: #464749;
    font-size: 24px;
    font-display: swap;
    text-align: left
}

.page-title .h2 {
    font-size: 32px;
    margin-bottom: 0;
    line-height: 1.2;
}
.h3{
    font-family: Raleway;
    font-weight: 100;
    font-style: italic;
    font-size: 40px;
    font-display: swap;
    text-align: center
}

.main-page-content.default-margin {
    background-color: #f8f9fa;
    padding-top: 40px;
    padding-bottom: 40px;
}
.blog-archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blog-main-loop {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
img {

        display: block;
        margin: 0 auto;
        max-width: 100%;
    }


    .right{
        float: right;
        background:red
    }
    .left{
        float: left;
    }

    aside {
        width: 30%;
        padding-left: 30px;
        margin-left: 30px;
        float: right;
        font-style: italic;
        background-color: #b1ce2f;
      }

      a:hover {
        color: #000000;
        cursor: pointer;
      }
