<template>
  <div>
    <li class="nav-item dropdown no-arrow mx-1">
      <a
        class="nav-link dropdown-toggle"
        id="alertsDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        @click="marcarComoLeida(unreadNotifications)"
      >
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span
          class="badge badge-danger badge-counter"
          v-text="
            unreadNotifications.length > 0 ? unreadNotifications.length : ''
          "
        >
        </span>
      </a>
      <!-- Dropdown - Alerts -->
      <div
        id="notificaciones"
        class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown"
      >
        <h6 class="dropdown-header">Notificaciones</h6>
        <div class="overflow-auto scrollbar" style="max-height: 70vh">
          <template v-for="notification in notifications">
            <a
              class="dropdown-item d-flex align-items-center"
              :key="notification.id"
              :href="notification.data['url']"
            >
              <div class="mr-3">
                <div :class="'icon-circle bg-' + notification.data['color']">
                  <i
                    :class="
                      'fas ' +
                      notification.data['interface_icon'] +
                      ' text-white'
                    "
                  ></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">
                  {{ notification.created_at }}
                </div>
                <span class="font-weight-bold">{{
                  notification.data["title"]
                }}</span
                ><br />
                <span>De: {{ notification.data["user"] }}</span>
              </div>
            </a>
          </template>
        </div>
        <!-- <a class="dropdown-item text-center small text-gray-500" href="#"
          >Más notificaciones</a
        > -->
      </div>
    </li>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      notifications: [],
      unreadNotifications: [],
      user_id: 0,
    };
  },
  methods: {
    notificar() {
      // if (Notification.permission === "granted") {
      window.Echo.private("App.User." + this.user_id).notification(
        (notification) => {
          // const noti = new Notification(notification.title, {
          //   body: notification.message,
          //   icon: notification.icon,
          // });
          this.notifications.unshift({
            id: notification.id,
            read_at: notification.read_at,
            created_at: notification.created_at,
            data: {
              url: notification.url,
              color: notification.color,
              interface_icon: notification.interface_icon,
              user: notification.user,
              title: notification.title,
            },
          });
          this.unreadNotifications.push(notification);
          // noti.onclick = function abrirNotificacion() {
          //   window.open(notification.url);
          //   // marcarComoLeida([notificacion]);
          // };
        }
      );
      // }
    },
    marcarComoLeida(notifications) {
      var notis = [];
      notifications.forEach((notification) => {
        if (notification.read_at == null) {
          notis.push(notification.id);
        }
      });
      axios.post(window.location.origin + "/markasread", {
        user_id: this.user_id,
        notifications: notis,
      });
      this.unreadNotifications = [];
    },
    getUserID() {
      this.user_id = $("meta[name='user_id']").attr("content");
    },
    getNotifications() {
      axios
        .post(window.location.origin + "/notifications", {
          user_id: this.user_id,
        })
        .then((response) => {
          // console.log(response.data);
          this.notifications = response.data;
          this.getUnreadNotifications();
        });
    },
    getUnreadNotifications() {
      this.notifications.forEach((notification) => {
        if (notification.read_at == null) {
          this.unreadNotifications.push(notification);
        }
      });
    },
  },
  mounted() {
    this.getUserID();
    this.getNotifications();
    this.notificar();
  },
};
</script>
<style>
.scrollbar {
  scrollbar-width: none;
}
</style>